{% extends "base.html" %}

{% load thumbnail faq_extras siteblocks_extras pages_extras %}

{% if page.title %}
    {% block title %}
        {{ page.title }} &mdash;
    {% endblock %}
{% endif %}

{% block main_left %}
    {% if page.id == 1 %}
        {% get_aboutblk_menu request.path %}
    {% endif %}
    {% if page.parent %}
        {% get_menu_by_parent page.parent request.path %}
    {% endif %}
    {% block_aid_out %}
    {% if page.parent %}
        {% block_news_by_country page.parent.country.id %}
    {% else %}
        {% block_news_by_country '' %}
    {% endif %}
{% endblock %}

{% block main_right %}
    <div class="text">
        <h1>{{ page.title }}</h1>
        {{ page.content|safe }}
    </div>
{% endblock %}