{% load thumbnail %}
{% if expert %}
    <div class="blk_aid_out">
        <div class="blk_aid">
            <div class="blk_aid_in">
                <h2>Консультация</h2>
                {% thumbnail expert.image "88x110" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                {% endthumbnail %}
                <div class="sotr_name">{{ expert.full_name }}</div>
                <div class="cl"></div>
                <div class="sotr_about">{{ expert.description }}</div>
                <div class="submit">
                    <div><a href="/faq/sendquestion/" class="fancybox">Задать вопрос</a></div>
                </div>
            </div>
        </div>
    </div><!-- /blk_aid -->
{% endif %}
