{% extends "base.html" %}

{% load thumbnail faq_extras siteblocks_extras pages_extras %}

{% block main_left %}
    {% get_aboutblk_menu request.path %}
    {% block_aid_out %}
    {% block_news_by_country '' %}
{% endblock %}

{% block main_right %}
    {% if experts %}
        <div class="experts">
            <h1>Сотрудники LetoEstate</h1>
            {% for expert in experts %}
                <div class="expert">
                    <div class="img">
                        {% thumbnail expert.image "88x110" crop="center" as im %}
                            <a href="{{ expert.get_absolute_url }}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" /></a>
                        {% endthumbnail %}
                    </div>
                    <div class="descr">
                        <a href="{{ expert.get_absolute_url }}" class="name">{{ expert.full_name }}</a>
                        <div class="description">{{ expert.description }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if expert %}
        <div class="experts">
            <div class="expert">
                <div class="img">
                    {% thumbnail expert.image "88x110" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                    {% endthumbnail %}
                </div>
                <div class="descr">
                    <span class="name">{{ expert.full_name }}</span>
                    <span class="phonenumber">{{ expert.phonenumber }}</span>
                    <span class="email"><a href="mailto:{{ expert.email }}">{{ expert.email }}</a></span>
                    <div class="description">{{ expert.full_description|safe }}</div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}