{% if news %}
    <div class="blk_news">
        <h2>Новости</h2>
        {% if curr_country %}
        {% for new in news %}
            <div class="blk_new">
                <div class="blk_new_date">{{ new.date_add|date:"j E" }}</div>
                <div class="blk_new_short"><a href="{{ curr_country.get_absolute_url }}news/{{ new.id }}/">{{ new.title }}</a></div>
            </div>
        {% endfor %}
            <div class="all"><a href="{{ curr_country.get_absolute_url }}news/">все новости</a></div>
        {% else %}
            {% for new in news %}
               <div class="blk_new">
                   <div class="blk_new_date">{{ new.date_add|date:"j E" }}</div>
                   <div class="blk_new_short"><a href="/news/{{ new.id }}/">{{ new.title }}</a></div>
               </div>
            {% endfor %}
            <div class="all"><a href="/news/">все новости</a></div>
        {% endif %}
    </div><!--/blk_news-->
{% endif %}

