{% load pytils_numeral thumbnail %}

{% for item in items %}    
    <div class="item loaded" style="display: none;">
        <div class="item_img">
            {% thumbnail item.image "156x123" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
            {% endthumbnail %}
            <a href="{{ item.get_absolute_url }}" class="item_img_fr"></a></div>
        <div class="item_cat_des">
            <a href="{{ item.get_absolute_url }}" class="item_name_lnk">{{ item.title }}</a>
            <div class="item_price">{{ item.get_str_price }}</div>
            <p>{{ item.description|safe|truncatewords_html:33 }}</p>
        </div>
    </div>
{% endfor %}

{% if remaining_count %}
        <input type="hidden" id="remaining_count_text" value="Ещё <span class='cnt'>{{ remaining_count }}</span> запис{{ remaining_count|choose_plural:"ь,и,ей" }}">
{% endif %}