{% load thumbnail %}
<div class="catalog">
    {% if catalog %}
        <input type="hidden" id="max_price" value="{{ max_price|floatformat }}">
        <input type="hidden" id="min_price" value="{{ min_price|floatformat }}">
        {% for catalog_item in catalog %}
        <div class="item">
            <div class="item_img">
                {% thumbnail catalog_item.image "156x123" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                {% endthumbnail %}
                <a href="{{ catalog_item.get_absolute_url }}" class="item_img_fr"></a></div>
            <div class="item_cat_des">
                <a href="{{ catalog_item.get_absolute_url }}" class="item_name_lnk">{{ catalog_item.title }}</a>
                <div class="item_price">{{ catalog_item.get_str_price }} EUR</div>
                <p>{{ catalog_item.description|truncatewords:33 }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>