{% load thumbnail pytils_numeral %}
{% if catalog %}
<div class="catalog load_block">
    <input type="hidden" id="max_price" value="{{ max_price|floatformat }}">
    <input type="hidden" id="min_price" value="{{ min_price|floatformat }}">
    <input type="hidden" id="country" value="{{ country }}">

    <input type="hidden" id="loaded_ids" value="{{ next_id_loaded_items }}">
    <input type="hidden" id="m_name" value="ExclusiveRealEstate">
    <input type="hidden" id="a_name" value="realestate">

    {% for item in catalog %}
            <div class="item">
               <div class="item_img">
                   {% thumbnail item.image "156x123" crop="center" as im %}
                       <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                   {% endthumbnail %}
                   <a href="{{ item.get_absolute_url }}" class="item_img_fr"></a></div>
               <div class="item_cat_des">
                   <a href="{{ item.get_absolute_url }}" class="item_name_lnk">{{ item.title }}</a>
                   <div class="item_price">{{ item.get_str_price }}</div>
                   <p>{{ item.description|safe|truncatewords_html:33 }}</p>
               </div>
           </div>
    {% empty %}
        Если объекта, который подходит под Ваши требования, нет в каталоге - отправьте нам запрос! Мы обязательно найдем то, что Вам нужно!
    {% endfor %}

{% comment %}    {% if loaded_count %}
        <div class="show_more">
            <a href="#" class="load_items">Ещё <span class="cnt">{{ loaded_count }}</span> запис{{ loaded_count|choose_plural:"ь,и,ей" }}</a>
        </div>
    {% endif %}{% endcomment %}

    {% if next_id_loaded_items %}

        <div class="pagination load_page">

            <input type="hidden" id="all_loaded_ids" value="{{ next_id_loaded_items|join:'|' }}" />

            {% if page_prev %}
                <a class="pgn_prev" href="#" name="{{ page_prev }}">«</a>
            {% endif %}

            {% for loaded_ids in next_id_loaded_items %}
                {% ifequal loaded_ids curr_ids %}
                    <a class="current_page pgn_num_page" href="#" name="{{ loaded_ids }}">{{ forloop.counter }}</a>
                {% else %}
                    <a class="pgn_num_page" href="#" name="{{ loaded_ids }}" {% if forloop.counter > 5 %}style="display: none;" {% endif %}>{{ forloop.counter }}</a>
                {% endifequal %}
            {% endfor %}

            {% if page_next %}
                <a class="pgn_next" href="#" name="{{ page_next }}">»</a>
            {% endif %}

        </div>

    {% endif %}

</div>
{% else %}
    <div class="catalog load_block">
        <input type="hidden" id="max_price" value="{{ max_price|floatformat }}">
        <input type="hidden" id="min_price" value="{{ min_price|floatformat }}">
        <input type="hidden" id="country" value="{{ country }}">

        <input type="hidden" id="loaded_ids" value="{{ next_id_loaded_items }}">
        <input type="hidden" id="m_name" value="ExclusiveRealEstate">
        <input type="hidden" id="a_name" value="realestate">
        Если объекта, который подходит под Ваши требования, нет в каталоге - отправьте нам запрос! Мы обязательно найдем то, что Вам нужно!
    </div>
{% endif %}
