{% extends "base.html" %}

{% load thumbnail pytils_numeral faq_extras siteblocks_extras pages_extras %}

{% if page.title %}
    {% block title %}
        Эксклюзивные предложения &mdash;
    {% endblock %}
{% endif %}

{% block main_left %}
    {% block_aid_out %}
    {% block_news_by_country '' %}
{% endblock %}

{% block main_right %}

    <div class="filters">
        <div class="filter">
            <span>Страна:</span>
            <select name="country" id="select_country">
                    <option value="all">Все страны
                {% for country in countries %}
                    <option value="{{ country.country }}">{{ country.country }}
                {% endfor %}
            </select>
        </div>
        <div class="filter">
            <span>Упорядочить по цене:</span>
            <span class="filter_curr" style="display: none; "><a href="#" name="by_order" class="check_price_sort_excl">Произвольная сортировка</a></span>
            <span><a href="#" name="asc" class="check_price_sort_excl">По возрастанию</a></span>
            <span><a href="#" name="desc" class="check_price_sort_excl">По убыванию</a></span>
        </div>
        <div class="filter_slider">
            <div class="filter_name">Цена (EUR)</div>
            <div class="filter_price_pl">
                <div class="sort_price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="price_slider">
                    <div style="left: 0%;" class="slider_label_l">{{ min_price|floatformat }}</div>
                    <div style="right: 0%;" class="slider_label_r">{{ max_price|floatformat }}</div>
                </div>
                {% if step %}
                    <script type="text/javascript">SetPriceSlider({{ min_price|floatformat }},{{ max_price|floatformat }},{{ step|floatformat }},false);</script>
                {% endif %}
            </div>
        </div>
    </div><!-- /filters -->

    <div class="catalog load_block">
        <input type="hidden" id="country" value="all">

        <input type="hidden" id="loaded_ids" value="{{ next_id_loaded_items }}">
        <input type="hidden" id="m_name" value="ExclusiveRealEstate">
        <input type="hidden" id="a_name" value="realestate">

        {% for item in catalog %}
                <div class="item">
                   <div class="item_img">
                       {% thumbnail item.image "156x123" crop="center" as im %}
                           <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                       {% endthumbnail %}
                       <a href="{{ item.get_absolute_url }}" class="item_img_fr"></a></div>
                   <div class="item_cat_des">
                       <a href="{{ item.get_absolute_url }}" class="item_name_lnk">{{ item.title }}</a>
                       <div class="item_price">{{ item.get_str_price }}</div>
                       <p>{{ item.description|safe|truncatewords_html:33 }}</p>
                   </div>
               </div>
        {% endfor %}

        {% if loaded_count %}
            <div class="show_more">
                <a href="#" class="load_items">Ещё <span class="cnt">{{ loaded_count }}</span> запис{{ loaded_count|choose_plural:"ь,и,ей" }}</a>
            </div>
        {% endif %}

    </div><!-- /catalog -->

{% endblock %}