{% extends "base.html" %}

{% load thumbnail pytils_numeral faq_extras siteblocks_extras pages_extras %}

{% if page.title %}
    {% block title %}
        Каталог недвижимости &mdash; {{ item.title }} &mdash;
    {% endblock %}
{% endif %}

{% block main_left %}
    {% get_menu_by_parent item.static_page request.path %}
    {% block_aid_out %}
    {% block_news_by_country item.id %}
{% endblock %}

{% block main_right %}
    <input type="hidden" value="{{ item.id }}" id="country_id" />
    {% if item_type == "residential" %}
        <h1>Жилая недвижимость <img src="{{ item.get_src_image }}" alt="{{ item.title }}" class="flag" /><span> или <a href="{{ item.get_absolute_url }}catalog/commercial/" class="check_type">Коммерческая недвижимость</a></span></h1>
        <input type="hidden" value="residential" id="re_type" />
    {% endif %}
    {% if item_type == "commercial" %}
        <h1><span><a href="{{ item.get_absolute_url }}catalog/residential/" class="check_type">Жилая недвижимость</a> или </span>Коммерческая недвижимость <img src="{{ item.get_src_image }}" alt="{{ item.title }}" class="flag" /> </h1>
        <input type="hidden" value="commercial" id="re_type" />
    {% endif %}

    <div class="filters">
        <div class="filter">
            <span class="filter_curr"><a href="#" name="all" class="check_subtype">Все типы недвижимости</a></span>
            {% for estate_type in estate_types %}
                <span><a href="#" name="{{ estate_type.id }}" class="check_subtype">{{ estate_type.title }}</a></span>
            {% endfor %}
        </div>
        <div class="filter">
            <span class="filter_curr"><a href="#" name="all" class="check_region">Любой населенный пункт</a></span>
            {% for region in regions %}
                <span><a href="#" class="check_region" name="{{ region.id }}">{{ region.title }}</a></span>
            {% endfor %}
        </div>
        <div class="filter">
            <span>Упорядочить по цене:</span>
            <span class="filter_curr" style="display: none; "><a href="#" name="by_order" class="check_price_sort">Произвольная сортировка</a></span>
            <span><a href="#" name="asc" class="check_price_sort">По возрастанию</a></span>
            <span><a href="#" name="desc" class="check_price_sort">По убыванию</a></span>
        </div>
        <div class="filter_slider">
            <div class="filter_name">Цена (EUR)</div>
            <div class="filter_price_pl">
                <div class="sort_price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="catalog_price_slider">
                    <div style="left: 0%;" class="slider_label_l">{{ min_price|floatformat }}</div>
                    <div style="right: 0%;" class="slider_label_r">{{ max_price|floatformat }}</div>
                </div>
                {% if step %}
                    <script type="text/javascript">SetCatalogPriceSlider({{ min_price|floatformat:0 }},{{ max_price|floatformat:0 }},{{ min_price|floatformat:0 }},{{ max_price|floatformat:0 }},{{ step|floatformat:0 }},false);</script>
                {% endif %}
            </div>
        </div>

    {% if item_type == "residential" %}
        <div class="filter_show_more"><a href="#">Дополнительные параметры</a></div>
        <input type="hidden" id="add_parameters_values" value="{{ additional_parameters_string }}" />
        <div class="filter_exts">
            {% for add_parameter in additional_parameters %}
                <div class="filter_ext">
                    <div class="filter_name">{{ add_parameter.title }}</div>
                    <div class="filter">
                        <div class="filter_ ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="add_slider_{{ add_parameter.id }}">
                            <div style="left: 0%;" class="slider_label_l">{% if add_parameter.slider_disable == 'false' %}{{ add_parameter.min_val|floatformat }}{% else %}-{% endif %}</div>
                            <div style="right: 0%;" class="slider_label_r">{% if add_parameter.slider_disable == 'false' %}{{ add_parameter.max_val|floatformat }}{% else %}-{% endif %}</div>
                        </div>
                        <script type="text/javascript">
                            SetAdditionalSlider({{ add_parameter.id }},{{ add_parameter.min_val|floatformat }},{{ add_parameter.max_val|floatformat }},{{ add_parameter.step|floatformat }},{{ add_parameter.slider_disable }});
                        </script>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    </div><!-- /filters -->

    <div class="catalog load_block">

        <input type="hidden" id="loaded_ids" value="{{ next_id_loaded_items }}" />
        {% if item_type == "residential" %}
            <input type="hidden" id="m_name" value="ResidentialRealEstate" />
        {% endif %}
        {% if item_type == "commercial" %}
            <input type="hidden" id="m_name" value="CommercialRealEstate" />
        {% endif %}
        <input type="hidden" id="a_name" value="realestate" />

        {% for item in catalog %}
                <div class="item">
                   <div class="item_img">
                       {% thumbnail item.image "156x123" crop="center" as im %}
                           <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" />
                       {% endthumbnail %}
                       <a href="{{ item.get_absolute_url }}" class="item_img_fr"></a></div>
                   <div class="item_cat_des">
                       <a href="{{ item.get_absolute_url }}" class="item_name_lnk">{{ item.title }}</a>
                       <div class="item_price">{{ item.get_str_price }}</div>
                       <p>{{ item.description|safe|truncatewords_html:33 }}</p>
                   </div>
               </div>
        {% endfor %}

        {% if loaded_count %}
            <div class="show_more">
                <a href="#" class="load_items">Ещё <span class="cnt">{{ loaded_count }}</span> запис{{ loaded_count|choose_plural:"ь,и,ей" }}</a>
            </div>
        {% endif %}
    </div><!-- /catalog -->

{% endblock %}